body
{
    font-family: Helvetica;
}

#b_lewy, #b_prawy
{
    background-color: rgb(70, 130, 180);
    color: white;
    width: 25%;
    height: 80px;
}

#b_srodkowy
{
    background-color: rgb(70, 130, 180);
    color: white;
    width: 50%;
    height: 80px;
    text-align: center;
}

#glowny
{
    background-color: rgb(224, 255, 255);
    padding: 40px;
}

#g_lewy, #g_prawy
{
    background-color: rgb(70, 130, 180);
    width: 50%;
    height: 200px;
    text-align: center;
}

#stopka
{
    background-color: rgb(224, 255, 255);
}

table
{
    border: 1px solid blue;
    width: 100%;
    border-collapse: collapse;
}

td
{
    border: 1px solid blue;
}

th
{
    border: 1px solid blue;
    background-color: blue;
    color: white;
}

header
{
    display: flex;
    flex-direction: row;
}

section
{
    display: flex;
    flex-direction: row;
}
